<form>
    <fieldset>
        <legend>Event Search</legend>
        <label>Category</label><input id="searchText" type="text" />
        <span class="help-block">Example block-level help text here.</span>
        <label class="checkbox">
            <input type="checkbox" />
            Check me out</label>
        <button type="submit" class="btn" id="EventSearchBtn">Submit</button>
        <div id="result"></div>
    </fieldset>
    
</form>
