@model CliqueUpModel.Model.CategoryEvent
<legend>Event Info</legend>
@if (Model == null)
{

    <b>Select an event to view details to continue...</b>
}
    else
{
    
}
<div id="eventDetails"></div>
