<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span8">
                    <div id="map-canvas"></div>
                </div>
                <div class="span4">
                    <div class="row-fluid">
                        @{ Html.RenderPartial("EventSearch"); }
                    </div>
                    <div class="row-fluid">
                        @{ Html.RenderPartial("EventList"); }
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                </div>
                <div class="span4">
                </div>
                <div class="span4">
                    <ol>
                        <li>Lorem ipsum dolor sit amet
                        </li>
                        <li>Consectetur adipiscing elit
                        </li>
                        <li>Integer molestie lorem at massa
                        </li>
                        <li>Facilisis in pretium nisl aliquet
                        </li>
                        <li>Nulla volutpat aliquam velit
                        </li>
                        <li>Faucibus porta lacus fringilla vel
                        </li>
                        <li>Aenean sit amet erat nunc
                        </li>
                        <li>Eget porttitor lorem
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
